<a class="link-to-home" routerLink="/trends">
  <img src="assets/Iconos/Actions/back.svg" alt="Flecha hacia atrás" />
  <span>TODOS LOS EVENTOS</span>
</a>
<article class="trend__detail" *ngIf="trend$ | async as trend">
  <header class="trend__header">
    <div class="trend__actions">
      <button
        type="button"
        class="w-13 h-13 bg-primary bg-opacity-20 rounded-full flex items-center justify-center text-primary mb-1 ml-1 hover:bg-primary hover:text-white"
        (click)="openSlideOut(true, trend)"
      >
        <svg-icon
          src="assets/Iconos/Actions/edit.svg"
          alt="Editar noticia"
        ></svg-icon>
      </button>
      <button
        type="button"
        class="w-13 h-13 bg-primary bg-opacity-20 rounded-full flex items-center justify-center text-primary mb-1 ml-1 hover:bg-primary hover:text-white"
        (click)="openSlideOut(false, trend)"
      >
        <svg-icon
          src="assets/Iconos/Actions/delete.svg"
          alt="Borrar noticia"
        ></svg-icon>
      </button>
    </div>
    <img class="trend__image" [src]="trend.image" alt="trend.title" />
  </header>
  <div class="trend__content">
    <h2 class="trend__title">
      <a class="trend__link" [href]="trend.url" target="_blank">
        {{ trend.title }}
        <svg-icon
          src="assets/Iconos/Actions/link.svg"
          alt="Enlace externo"
          class="w-5 h-5 text-primary hover:text-primary-dark ml-2 inline-block align-middle mt-[-0.5rem]"
        ></svg-icon>
      </a>
    </h2>
    <div class="trend_paragraph-container">
      <p class="trend__paragraph" *ngFor="let paragraph of trend.body">
        {{ paragraph }}
      </p>
    </div>
  </div>
</article>
