<div
  class="slide-out__content fixed z-20 top-0 w-[491px] h-full bg-white p-9 shadow-lg rounded-tl-3xl"
  [class.open]="isOpen"
>
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-semibold">Formulario</h2>
    <button
      type="button"
      (click)="close()"
      class="text-gray-500 hover:text-gray-700"
    >
      <img src="assets/Iconos/Actions/close.svg" class="h-6 w-6" alt="Cerrar" />
    </button>
  </div>
  <form class="flex flex-col h-full">
    <div class="mb-4 mt-10">
      <label for="url" class="block text-sm font-medium text-gray-700"
        >URL</label
      >
      <input
        type="url"
        id="url"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div class="mb-4">
      <label for="author" class="block text-sm font-medium text-gray-700"
        >Autor</label
      >
      <input
        type="text"
        id="author"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div class="mb-4">
      <label for="title" class="block text-sm font-medium text-gray-700"
        >Título</label
      >
      <input
        type="text"
        id="title"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div class="flex-grow mb-6">
      <label for="comment" class="block text-sm font-medium text-gray-700"
        >Comentario</label
      >
      <textarea
        id="comment"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm h-full resize-none"
      ></textarea>
    </div>
    <div class="flex justify-end mt-4 mb-8">
      <button
        type="button"
        (click)="close()"
        class="bg-transparent border-transparent text-gray-700 font-bold py-2 px-4 rounded mr-2"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="bg-primary hover:bg-primary-dark text-white font-bold py-2 px-4 rounded"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
<div
  class="slide-out__overlay bg-black z-10 fixed top-0 w-full h-full"
  [class.open]="isOpen"
  [ngClass]="{ 'bg-black bg-opacity-50': isOpen }"
  (click)="close()"
></div>
