<div
  class="slide-out__content fixed z-20 top-0 h-full bg-white p-9 shadow-lg"
  [class.open]="isOpen"
  [ngClass]="{
    'w-full': isSmallScreen,
    'w-[491px] rounded-tl-3xl': !isSmallScreen
  }"
>
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-semibold">
      {{
        trendState === "edit"
          ? "Editar noticia"
          : trendState === "delete"
          ? "Borrar noticia"
          : "Crear noticia"
      }}
    </h2>
    <button
      type="button"
      (click)="closeSlide()"
      class="text-gray-500 hover:text-gray-700"
    >
      <img src="assets/Iconos/Actions/close.svg" class="h-6 w-6" alt="Cerrar" />
    </button>
  </div>
  <div class="flex flex-col h-full" *ngIf="trend; else noTrendTemplate">
    <div class="mb-4 mt-10">
      <label for="title" class="block text-sm font-medium text-gray-700"
        >Título</label
      >
      <input
        type="text"
        [(ngModel)]="trend.title"
        id="title"
        name="title"
        [disabled]="trendState === 'delete'"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div class="mb-4">
      <label for="url" class="block text-sm font-medium text-gray-700"
        >URL Noticia</label
      >
      <input
        type="url"
        [(ngModel)]="trend.url"
        id="url"
        name="url"
        [disabled]="trendState === 'delete'"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div class="mb-4">
      <label for="image" class="block text-sm font-medium text-gray-700"
        >URL Imagen</label
      >
      <input
        type="url"
        [(ngModel)]="trend.image"
        id="image"
        name="image"
        [disabled]="trendState === 'delete'"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div class="mb-4">
      <label for="provider" class="block text-sm font-medium text-gray-700"
        >Proveedor</label
      >
      <select
        *ngIf="trendState !== 'delete'"
        id="provider"
        [(ngModel)]="trend.provider"
        name="provider"
        class="mt-1 block w-full px-3 py-2 pr-10 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      >
        <option value="elmundo">El Mundo</option>
        <option value="elpais">El País</option>
      </select>
      <input
        *ngIf="trendState === 'delete'"
        type="provider"
        [(ngModel)]="trend.provider"
        id="provider"
        name="provider"
        [disabled]="trendState === 'delete'"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
      />
    </div>
    <div class="flex-grow mb-4">
      <label for="body" class="block text-sm font-medium text-gray-700"
        >Descripción</label
      >
      <textarea
        id="body"
        name="body"
        [disabled]="trendState === 'delete'"
        [(ngModel)]="trend.body"
        class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm h-full resize-none"
      ></textarea>
    </div>
    <div *ngIf="errorMessage" class="mt-4 text-red-400">
      {{ errorMessage }}
    </div>
    <div class="flex justify-end mt-6 mb-8">
      <button
        type="button"
        (click)="closeSlide()"
        class="bg-transparent border-transparent text-gray-700 font-bold py-2 px-4 rounded mr-2"
      >
        Cancelar
      </button>
      <button
        *ngIf="trendState !== 'delete'"
        type="button"
        (click)="saveTrend(trendState)"
        class="bg-primary hover:bg-primary-dark text-white font-bold py-2 px-4 rounded"
      >
        Guardar
      </button>
      <button
        *ngIf="trendState === 'delete'"
        type="button"
        (click)="openDeleteModal()"
        class="bg-primary hover:bg-primary-dark text-white font-bold py-2 px-4 rounded"
      >
        Borrar
      </button>
    </div>
  </div>
  <ng-template #noTrendTemplate>
    <div class="flex flex-col h-full justify-center items-center">
      <p class="text-gray-500 text-lg">
        No hay datos disponibles para mostrar.
      </p>
    </div>
  </ng-template>
</div>
<div
  class="slide-out__overlay bg-black z-10 fixed top-0 w-full h-full"
  [class.open]="isOpen"
  [ngClass]="{ 'bg-black bg-opacity-50': isOpen }"
  (click)="closeSlide()"
></div>

<app-confirm-delete-modal
  *ngIf="showDeleteModal"
  (confirm)="confirmDelete()"
  (cancel)="cancelDelete()"
  >Hola</app-confirm-delete-modal
>
